#parent{
	height: 200px;
	width: 200px;
	border: 5px solid black;
	perspective: 200px;
	transition: all 3s;
}

#threeDChild{
	border: 5px solid blue;
	background-color: red;
	transition: all 2s;
	height: 200px;
	width: 200px;
}

#parent.flip{
	perspective: 100px;
}

#threeDChild.flip{
	transform: rotateY(180deg);
}

/* The parent which is a 3D space */
.card{
	height: 300px;
	width: 300px;
	border: 2px solid black;
	perspective: 300px;
}

/* The child that can play 3d, and is holding the two card faces */
.face-holder{
	height: 300px;
	width: 300px;
	position: relative; /*the children of face-holder will be absolute*/
	transition: all 1s;
	transform-style: preserve-3d;
}

/* the actual face of the card and face of the back. they need a 3d space */
/* These rules apply to both */
.card-front, .card-back{
	/* Abs postion so they are on top of each other! */
	position: absolute;
	/* init position */
	top: 0;
	left: 0;
	border: 2px red solid;
	/* DO NOT SHOW THE BACK OF TEH DIV */
	backface-visibility: hidden;

}

/* RUels just for front */
.card-front{
	transform: rotateY(180deg);
}

/* rules just for back */
.card-back{

}

.flip{
	transform: rotateY(-180deg);
}