img{
	height: 120px;
}

.the-table{
	background-color: #277714;
	border: 5px solid #333;
	border-radius: 10px;
	margin-top:  50px;
	padding: 30px 0px;
}

.card{
	height: 120px;
	background-color: #fff;
	color: black;
	margin: 10px;
	width: 12.6%;
	float: left;
}